@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    public string? Summary { get; set; }
    <h1 class="display-4">Welcome To My first Wb App :-  NotePad</h1>
    <h1 class="display-4">We are Developers</h1>


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
