@{
    ViewData["Title"] = "Home Page";
}

<div class="d-center w-50">
    <h2 class="mb-3 text-center">Login</h2>
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <a asp-controller="Notes" asp-action="Index" type="submit" class="btn btn-primary w-100">Login</a>
    </form>
</div>
